<ng-container *ngIf="botDetails">
  <div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #botForm="ngForm">
        <div *ngIf="isAdmin" class="form-group">
          <label for="name">Owner Account Id</label>
          <input type="text" class="form-control" id="ownerAccountId" required [(ngModel)]="botDetails.ownerAccountId" name="ownerAccountId" #ownerAccountId="ngModel">
          <div [hidden]="ownerAccountId.valid || ownerAccountId.untouched" class="alert alert-danger">
            Required
          </div>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="botDetails.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            Required
          </div>
        </div>
        <div class="form-group">
          <label for="name">Dashboard Name</label>
          <input type="text" class="form-control" id="dashboardName" required [(ngModel)]="botDetails.dashboardName" name="dashboardName"
            #dashboardName="ngModel">
          <div [hidden]="dashboardName.valid || dashboardName.untouched" class="alert alert-danger">
            Required
          </div>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)]="botDetails.description" name="description"
            #description="ngModel">
          <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
            Required
          </div>
        </div>
        <div class="form-group">
          <label for="name">Secret</label>
          <input type="password" class="form-control" id="secret" [required]="isNew" [(ngModel)]="botDetails.secret" name="secret"
            #secret="ngModel">
          <div [hidden]="secret.valid || secret.untouched" class="alert alert-danger">
            Required
          </div>
        </div>
        <div class="form-group">
          <label for="name">Homepage</label>
          <input type="text" class="form-control" id="homePage" [(ngModel)]="botDetails.homePage" name="homePage" #homePage="ngModel">
        </div>
        <div class="form-group">
          <label for="name">Logo URL</label>
          <input type="text" class="form-control" id="logoUrl" [(ngModel)]="botDetails.logoUrl" name="logoUrl" #logoUrl="ngModel">
        </div>
        <div class="form-group">
          <label for="name">FavIcon</label>
          <input type="text" class="form-control" id="favIcon" [(ngModel)]="botDetails.favIcon" name="favIcon" #favIcon="ngModel">
        </div>
        <div class="form-group">
          <label for="name">Tab Title</label>
          <input type="text" class="form-control" id="tabTitle" [(ngModel)]="botDetails.tabTitle" name="tabTitle" #tabTitle="ngModel">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!botForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</ng-container>