pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 0px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.dashboard-logo {
    width: 45px;
    height: 45px;
}

.logo-link:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.feedback {
    cursor: default;
}

.feedback > .feedbackIcon {
    display: inline-block;
}

.feedback > .feedbackRemove {
    font-size: 12px;
    vertical-align: middle;
    display: none;
}
.feedback:hover > .feedbackRemove {
    display: inline-block;
}

.reasons-table {
    font-size:2vw;
}
@media(min-width: 800px) {
    .reasons-table {
        font-size: 16px;
    }
}