<ng-container *ngIf="initialized">
  <div class="container" *ngIf="validDashboard">
    <h3>{{dashboardName}}</h3>
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="feedbackByUserChart" [chart]="feedbackByUserChart"></div>
      </div>
      <div class="col-md-6">
        <div *ngIf="reportsOverTimeChart" [chart]="reportsOverTimeChart"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="reportsReasonsChart" [chart]="reportsReasonsChart"></div>
      </div>
      <div class="col-md-6">
        <div *ngIf="reportsFeedbackChart" [chart]="reportsFeedbackChart"></div>
      </div>
    </div>
  </div>

  <form style="padding: 10px" #filterForm="ngForm">
    <div class="form-row align-items-center mb-2">
      <div class="col-md-5">
        <label class="sr-only" for="contentInput">Content</label>
        <input type="text" class="form-control" id="contentInput" placeholder="Content" name="content" [(ngModel)]="filter.content"
          #content="ngModel">
      </div>
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="conflictedCheckbox">Has Feedback</label>
          </div>
          <select class="custom-select" id="hasFeedbackCheckbox" [(ngModel)]="filter.hasFeedback" [ngModelOptions]="{standalone: true}">
            <option value="any">Any</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="conflictedCheckbox">Conflicted</label>
          </div>
          <select class="custom-select" id="conflictedCheckbox" [(ngModel)]="filter.conflicted" [ngModelOptions]="{standalone: true}">
            <option value="any">Any</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col">
        <ss-multiselect-dropdown [options]="feedbacks" [(ngModel)]="filter.feedbacks" [settings]="dropdownSettings" [texts]="feedbackSelector"
          [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
      </div>
      <div class="col">
        <ss-multiselect-dropdown [options]="reasons" [(ngModel)]="filter.reasons" [settings]="dropdownSettings" [texts]="reasonSelector"
          [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
      </div>
      <button type="submit" class="btn btn-primary" (click)="applyFilter()">Filter</button>
    </div>
  </form>

  <table class="table" *ngIf="reportsResponse">
    <thead>
      <tr>
        <th>
          Dashboard
        </th>
        <th>
          Title
        </th>
        <th>
          Score
        </th>
        <th>
          Feedback
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reportsResponse.data">
        <td>
          <a routerLink="/{{report.dashboardName}}">{{report.dashboardName}}</a>
        </td>
        <td>
          <a routerLink="/{{report.dashboardName}}/report/{{report.id}}">{{report.title}}</a>
        </td>
        <td>
          {{report.detectionScore}}
        </td>
        <td>
          <span *ngFor="let feedback of report.feedback" class="feedback" [style.color]="feedback.colour" [title]="feedback.feedbackName + ' - ' + feedback.userName">
            {{feedback.icon}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page.Disabled" [class.active]="page.Active" *ngFor="let page of getPages()">
        <a class="page-link" (click)="loadPage(page.Number)" href="javascript:void(0);">{{page.Name}}</a>
      </li>
    </ul>
  </nav>

  <app-page-not-found *ngIf="!validDashboard">

  </app-page-not-found>
</ng-container>