<ng-container *ngIf="initialized">
  <ng-container *ngIf="validDashboard">
    <div class="container">
      <h1 class="display-4">
        <img class="dashboard-logo" src="{{dashboard.dashboardLogo}}" /> {{dashboard.dashboardName}}
      </h1>
      <p class="lead">
        <ng-container *ngIf="dashboard.dashboardHomepage && dashboard.dashboardHomepage.length">
          <a href="{{dashboard.dashboardHomepage}}" class="icon-link">
            <i class="fa fa-home"></i>
          </a> -
        </ng-container>{{dashboard.dashboardDescription}}
      </p>
      <hr />

      <div class="row">
        <div class="col" [chart]="feedbackByUserChart"></div>
        <div class="col" [chart]="reportsOverTimeChart"></div>
        <div class="w-100"></div>
        <div class="col" [chart]="reportsReasonsChart"></div>
        <div class="col" [chart]="reportsFeedbackChart"></div>
      </div>
    </div>

    <form class="p-3 form-inline" #filterForm="ngForm">
      <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <label class="sr-only" for="contentInput">Content</label>
        <input type="text" class="form-control" id="contentInput" placeholder="Content" name="content"
          [(ngModel)]="filter.content" #content="ngModel">
      </div>
      <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
          <label class="input-group-text" for="conflictedCheckbox">Has Feedback</label>
        </div>
        <select class="custom-select" id="hasFeedbackCheckbox" [(ngModel)]="filter.hasFeedback"
          [ngModelOptions]="{standalone: true}">
          <option value="any">Any</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
          <label class="input-group-text" for="conflictedCheckbox">Conflicted</label>
        </div>
        <select class="custom-select" id="conflictedCheckbox" [(ngModel)]="filter.conflicted"
          [ngModelOptions]="{standalone: true}">
          <option value="any">Any</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <ss-multiselect-dropdown [options]="feedbacks" [(ngModel)]="filter.feedbacks" [settings]="dropdownSettings"
          [texts]="feedbackSelector" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
      </div>
      <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <ss-multiselect-dropdown [options]="reasons" [(ngModel)]="filter.reasons" [settings]="dropdownSettings"
          [texts]="reasonSelector" [ngModelOptions]="{standalone: true}"></ss-multiselect-dropdown>
      </div>
      <button type="submit" class="btn btn-primary mt-2 mt-sm-2 mr-sm-2 mb-sm-0" (click)="applyFilter()">Filter</button>
    </form>

    <table class="table" *ngIf="reportsResponse">
      <thead>
        <tr>
          <th>
            Dashboard
          </th>
          <th>
            Title
          </th>
          <th>
            Score
          </th>
          <th>
            Feedback
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reportsResponse.data">
          <td>
            <a routerLink="/{{report.dashboardName}}">{{report.dashboardName}}</a>
          </td>
          <td>
            <a routerLink="/{{report.dashboardName}}/report/{{report.id}}">{{report.title}}</a>
          </td>
          <td>
            {{report.detectionScore}}
          </td>
          <td>
            <span *ngFor="let feedback of report.feedback" class="feedback" [style.color]="feedback.colour"
              [title]="feedback.feedbackName + ' - ' + feedback.userName">
              {{feedback.icon}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="page.Disabled" [class.active]="page.Active"
          *ngFor="let page of pagingInfo">
          <a class="page-link" (click)="loadPage(page.Number)" href="javascript:void(0);">{{page.Name}}</a>
        </li>
      </ul>
    </nav>
  </ng-container>

  <app-page-not-found *ngIf="!validDashboard">

  </app-page-not-found>
</ng-container>