<div class="container">
    <div class="row">
        <div class="col-md-6" *ngIf="reportsTotalData">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <td>Dashboard</td>
                        <td>Reports</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dashboard of reportsTotalData" (click)="onRowClick(dashboard.dashboardName)">
                        <td>{{dashboard.dashboardName}}</td>
                        <td>{{dashboard.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" *ngIf="feedbackByUserChart" [chart]="feedbackByUserChart"></div>
        <div class="w-100"></div>
        <div class="col-md-6" *ngIf="reportsOverTimeChart" [chart]="reportsOverTimeChart"></div>
        <div class="col-md-6" *ngIf="reportsTotalChart" [chart]="reportsTotalChart"></div>
        <div class="w-100"></div>
        <div class="col-md-6" *ngIf="reportsReasonsChart" [chart]="reportsReasonsChart"></div>
        <div class="col-md-6" *ngIf="reportsFeedbackChart" [chart]="reportsFeedbackChart"></div>
    </div>
</div>