<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="reportsOverTimeChart" [chart]="reportsOverTimeChart"></div>
        </div>
        <div class="col-md-6">
            <div *ngIf="reportsTotalChart" [chart]="reportsTotalChart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="reportsReasonsChart" [chart]="reportsReasonsChart"></div>
        </div>
        <div class="col-md-6">
            <div *ngIf="reportsFeedbackChart" [chart]="reportsFeedbackChart"></div>
        </div>
    </div>
</div>