body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f7f7f7;
}
button {
  cursor: pointer;
}
.logo {
  width: 30px;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
