<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">Higgs</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navBarToggler" aria-controls="navBarToggler"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Posts">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Posts">Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Admin</a>
            </li>
        </ul>
        <a *ngIf="!isLoggedIn" class="btn btn-outline-success my-2 my-sm-0" href="{{loginUrl}}">Log In</a>
        <ul *ngIf="isLoggedIn" class="navbar-nav mt-2 mt-sm-0">
            <div class="dropdown-divider"></div>
            <div class="hidden-lg-up">
                <li class="nav-item">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Log out</a>
                </li>
            </div>

            <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{userName}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a href="#" class="dropdown-item button">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" (click)="onLogoutClicked()" class="dropdown-item button">
                        Log out
                    </a>
                </div>
        </ul>
    </div>
</nav>
<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            Made by <a href="https://sobotics.org/">SOBotics</a>. Source code on <a href="https://github.com/SOBotics/Higgs">GitHub</a>. 
            Content provided by <a href="https://api.stackexchange.com/">Stack Exchange API</a> through the cc by-sa 3.0 license.
        </span>
    </div>
</footer>